body{
    background-image: url("/BlackJack/images/board/background.jpg");
}
.dealer{
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%,-50%);
}
.player{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
}
.card{
    position: relative;
    width: 120px;
    transition: all 1s ease;
}

.player, .dealer{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    
}
.back{
    width: 120px;  
    height: 174px;
    object-fit: none;
    border-radius: 5px;
    
}
.start{
   border: none;
   font-size: 1.5;
   cursor: pointer;
   text-decoration: none;
    width: 150px;
    height: 40px;
   color: #fff;
   border-radius: 10px;
   background-color: #1e4d1e;
   border: 2px solid #fff;
 
   
   
   
}
.startContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    overflow: hidden;
}
.buttonContainer { 
    bottom: 10px;
    left: 70%;
    position: absolute;
    display: grid;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "money money money"
      "deal hit stand";
      justify-content: center;
      align-items: center;
  }
  
  .money { grid-area: money; justify-self: center;}
  
  .deal { grid-area: deal; justify-self: center;}
  
  .hit { grid-area: hit; justify-self: center;}
  
  .stand { grid-area: stand; justify-self: center;}
  
  .buttonContainer button {
    padding: 15px 25px;
    color: #eee;
    border: 1px #1864ab solid;
    background-color: #282828;
  }
  .buttonContainer button:hover {
    background-color: #2196F3;
    cursor: pointer;
  }

  .playerSum{
      position: absolute;
      bottom: 2%;
      color: #eee;
  }
  .dealerSum{
    position: absolute;
    bottom: 71%;
    color: #eee;
}

.money {
    display: flex;
    border-radius: 10px;
    width: 300px;
    background-color: #282828;
    box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
    height: 40px;
    border-left: 2px solid #2196F3;
    line-height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.money h1{
    color: #fff;
}
