body{
    background-image: url("/BlackJack/images/board/background.jpg");
    overflow: hidden;
}
.dealer{
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%,-50%);
}
.player{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
}
.card{
    position: relative;
    width: 120px;
}

.player, .dealer{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    
}
.back{
    position: relative;
    width: 120px;  
    height: 174px;
    object-fit: none;
    border-radius: 5px;
    /*animation: moveCard 1.2s ease;*/
    
}
.start{
   border: none;
   font-size: 1.5;
   cursor: pointer;
   text-decoration: none;
    width: 150px;
    height: 40px;
   color: #fff;
   border-radius: 10px;
   background-color: #1e4d1e;
   border: 2px solid #fff;
 
   
   
   
}
.startContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    overflow: hidden;
}
.buttonContainer { 
    bottom: 10px;
    left: 70%;
    position: absolute;
    display: grid;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "money money money"
      "deal hit stand";
      justify-content: center;
      align-items: center;
  }
  
  .money { grid-area: money; justify-self: center;}
  
  .deal { grid-area: deal; justify-self: center;}
  
  .hit { grid-area: hit; justify-self: center;}
  
  .stand { grid-area: stand; justify-self: center;}
  
  .buttonContainer button {
    padding: 15px 25px;
    color: #eee;
    border: 1px #1864ab solid;
    background-color: #282828;
  }
  .buttonContainer button:hover, .resetButton:hover {
    background-color: #2196F3;
    cursor: pointer;
  }

  .playerSum{
      position: absolute;
      bottom: 2%;
      color: #fff;
  }
  .dealerSum{
    position: absolute;
    bottom: 71%;
    color: #fff;
}


.money {
    display: flex;
    border-radius: 10px;
    width: 300px;
    background-color: #282828;
    box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
    height: 40px;
    border-left: 2px solid #2196F3;
    line-height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.money h1{
    font-size: 27px;
    color: #fff;
}





.inputContainer{
    width: 300px;
    height: 80px;
    bottom: 10px;
    left: 8%;
    position: absolute;
}



.inputContainer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "white red blue green orange black"
      "reset reset reset reset reset reset";
      justify-content: center;
      align-items: center;
  }
  
  .white { grid-area: white; background-color: grey; }
  
  .red { grid-area: red; background-color: red;}
  
  .blue { grid-area: blue; background-color: blue;}
  
  .green { grid-area: green; background-color: green;}
  
  .orange { grid-area: orange; background-color: orange;}
  
  .black { grid-area: black; background-color: black}
  
  .reset {
       grid-area: reset; 
       display: flex;
       justify-content: center;
       align-items: center;
    }
  
  .resetButton{
    width: 150px;
    height: 27px;
    color: #eee;
    border: 1px #1864ab solid;
    background-color: #282828;
    border-radius: 10px;
    text-align: center;
  }



  .chip {
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 7px dashed white;
    transition: all 1s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    margin: 0px 8px;
    font-size: 10px;
  }
  
 
 
 
  .circle{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 100px;
      border-color: yellow;
      border-style: solid;
      width: 100px;
      height: 100px;
      left: 50%;
      bottom: 0%;
      transform: translate(-50%,-50%);
  }
  .circleText{
    color: #fff;
  }
 
 
 
 
 
 
 


  .rotate1{
    animation: rotate1 0.5s ease;
  }
  @keyframes rotate1{
    from{transform: rotateY(0deg)}
    to{transform: rotateY(90deg);}
}




@keyframes moveCard{
    from{left: 700px;}
    to{left: 0px;}
}
.move{
    animation: moveCard 0.8s ease;
}





.rotate2{
    animation: rotate2 0.5s ease;
  }
  @keyframes rotate2{
    from{transform: rotateY(90deg)}
    to{transform: rotateY(0deg);}
}