body{
   background-color: black;
   
   
   

   
}
#gameCanvas{
    position: relative;
    background-color: grey;
    width: 600px;
    height: 600px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,20%);
    display: flex;
    flex-wrap: wrap;

}
.block{
    width: 60px;
    height: 60px;
}

.snake{
    background-color: green;
}
.apple{
    background-color: red;
}
.reset{
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,700%);
}