.container{
    position: absolute;
    width: 726px;
    height: 726px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
}
.frog{
    background-color: green;
    border-radius: 100px;
}
.block{
    width: 66px;
    height: 66px;
}
.start{
    background-color: blue;
}
.end{
    background-color: red;
}
.w1 .w2{
    background-color: lightblue;
}
.w3{
    background-color: brown;
}