.container{
    position: absolute;
    width: 726px;
    height: 726px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
}
.block{
    width: 66px;
    height: 66px;
}
.start{
    background-color: blue;
}
.end{
    background-color: red;
}
.w1, .w2{
    background-color: lightblue;
}
.w3{
    background-color: brown;
}
.c3{
    background-color: black;
}
.c1, .c2{
    background-color: grey;
}
.frog{
    background-color: green;
}