#grid{
    background-color:  rgb(202, 202, 202);
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
#grid div{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid;
    border-color: rgb(14, 14, 14);
    border-width: 1px;

}
.notClicked{
    background-color: rgb(162, 160, 160);
}
.notClicked:hover{
    background-color: rgb(217, 217, 217);
}

.bum{
    background-color: black;
}
.bomb{
    /*background-color: black;*/
}