#grid{
    background-color:  rgb(202, 202, 202);
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
#grid div{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.notClicked{
    background-color: rgb(162, 160, 160);
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}
.notClicked:hover{
    background-color: rgb(217, 217, 217);
}

.bum{
    background-color: black;
}
.bomb{
   /* background-color: black;*/
}